.navbar {

    background-color: lightgray;
    padding-top: 25px;
    padding-bottom: 27px;
    margin: 1px solid lightgray;
    box-shadow: 10px 5px 7px black;
    width: 100%;
    margin-left: 100px;
    margin-left: 40px;

}


#carColumn {
    height: 400px;
    margin: 45px;
    padding-top: 15px;
    font-weight: 400;
    font-size: 1.5em;
}


body {

    padding-top: 100px;


}
